<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Research in Programming Languages at the University of Maryland</title>
    <meta http-equiv="Content-Type"  content="text/html; charset=iso-8859-1">
    <link href="http://www.cs.umd.edu/projects/PL/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="./jquery.min.js"></script>
    <script type="text/javascript" src="./expand.js"></script>
    <style>
      tr.expand {
      visibility: hidden;
      height: 10px;
      }
      .leftProjectCell {
      float:left;
      width: 30%;
      height: 100%;
      }
      .rightProjectCell {
      float:left;
      width: 70%;
      height: 100%;
      }
    </style>
  </head>
  <body bgcolor="#ffffff" text="#000000">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
	<tr valign="middle">
	  <td rowspan="2" align="left" height="100" nowrap="nowrap" width="15%">
	    <embed src="images/PLUM.svg" type="image/svg+xml" height="100" width="150" border="0"/>
	  </td>
	  <td align="middle" height="70" nowrap="nowrap" style="text-align:center;" valign="bottom" width="70%">
	    <B><font color="purple" size="+2">P</font><font size="+1">ROGRAMMING</font>&nbsp;&nbsp;<font color="purple" size="+2">L</font><font size="+1">ANGUAGES</font>&nbsp;&nbsp;<font size="+1">AT</font>&nbsp;&nbsp;<font color="purple" size="+2">U</font><font size="+1">NIVERSITY</font>&nbsp;&nbsp;<font size="+1">OF</a>&nbsp;&nbsp;<font color="purple" size="+2">M</font><font size="+1">ARYLAND</font>
</B>
</td>
<td rowspan="2" align="center" width="15%">
  <a href="http://www.umd.edu"><img src="images/globe2.gif" border="0" /></a>
</td>
</tr>
<tr valign="top" border="0">
  <td colspan="1" align="middle" valign="middle"> 
    <a href="http://www.cs.umd.edu/">Department of Computer Science</a>,
    <a href="http://www.umd.edu/">The University of Maryland, College Park</a>
  </td>
</tr>
</tbody>
</table>
<!-- The body of the document begins here -->
<table border="0" cellpadding="3" cellspacing="0" width="100%">
  <tbody>
    <tr>
      <td valign="top">
	<table border="0" cellpadding="0" cellspacing="0">
	  <tbody>
	    <tr>
	      <td>
		<table bgcolor="#ffffff" border="0" cellpadding="1" cellspacing="0" width="140" style="border-right: solid #FFC240 1px;" style="padding-right:50em;">
		  <tbody>

		    <tr>
		      <td nowrap="nowrap" valign="top" width="75"> <B>Faculty</B> </td>
		    </tr>
		    
		    {% for person in faculty %}
		    <tr>
		      <td nowrap="nowrap"> 
			{% if person.webpage %}
			<a href="{{person.webpage}}" class="sidebar-item">
			{% endif %}
			{{person.name}}
			{% if person.webpage %}</a> {% endif %}
		      </td>
		    </tr>
		    {% endfor %}

		    <tr>
		      <td nowrap="nowrap">&nbsp;</td>
		    </tr>

		    <tr>
		      <td nowrap="nowrap" valign="top" width="75"> <B>Post-docs</B> </td>
		    </tr>
		    {% for person in postdoc %}
		    <tr>
		      <td nowrap="nowrap"> 
			{% if person.webpage %}
			<a href="{{person.webpage}}" class="sidebar-item">
			{% endif %}
			{{person.name}}
			{% if person.webpage %}</a> {% endif %}
		      </td>
		    </tr>
		    {% endfor %}
		    
		    <tr>
		      <td nowrap="nowrap">&nbsp;</td>
		    </tr>

		    <tr>
		      <td nowrap="nowrap" valign="top" width="75"> <B>Students</B> </td>
		    </tr>
		    
		    {% for person in student %}
		    <tr>
		      <td nowrap="nowrap"> 
			{% if person.webpage %}
			<a href="{{person.webpage}}" class="sidebar-item">
			{% endif %}
			{{person.name}}
			{% if person.webpage %}</a> {% endif %}
		      </td>
		    </tr>
		    {% endfor %}

		    <!--
			<tr>
			  <td nowrap="nowrap"><span class="px6">&nbsp;</span> </td>
			</tr>
		    <tr>
		      <td nowrap="nowrap"> <B><a href = "pubs/pl.html">Publications</a></B> </td>
		    </tr>
		    -->

		    <tr>
		      <td nowrap="nowrap"><span class="px6">&nbsp;</span> </td>
		    </tr>

		    <tr>
		      <td nowrap="nowrap"> <B>Resources</B> </td>
		    </tr>
		    

		    <tr>
		      <td nowrap="nowrap">
			<a href="https://twitter.com/plumlab" class="sidebar-item">@plumlab on Twitter</a> </td>
		    </tr>
		    <tr>
		      <td nowrap="nowrap"> 
			<a href="https://github.com/plum-umd" class="sidebar-item">GitHub</a> </td>
		    </tr>
		    <tr>
		      <td nowrap="nowrap"> 
			<a href="https://wiki.cs.umd.edu/plwiki" class="sidebar-item">PL Group Wiki</a> </td>
		    </tr>

		    <tr>
		      <td nowrap="nowrap"><span class="px6">&nbsp;</span> </td>
		    </tr>
		    
		    <tr>
		      <td nowrap="nowrap" valign="top" width="75"> <B>Alumni (PhD)</B> </td>
		    </tr>
		    
		    {% for person in alumni-phd %}
		    <tr>
		      <td nowrap="nowrap"> 
			{% if person.webpage %}			
			<a href="{{person.webpage}}" class="sidebar-item">
			  {% endif %}
			{{person.name}}
			{% if person.webpage %}</a> {% endif %}
		      </td>
		    </tr>
		    {% endfor %}

		    <tr>
		      <td nowrap="nowrap"><span class="px6">&nbsp;</span> </td>
		    </tr>

		    <tr>
		      <td style="white-space:nowrap;" valign="top" width="75"> <B>Alumni (post-doc)</B> </td>
		    </tr>
		    
		    {% for person in alumni-postdoc %}
		    <tr>
		      <td nowrap="nowrap"> 
			{% if person.webpage %}			
			<a href="{{person.webpage}}" class="sidebar-item">
			  {% endif %}
			{{person.name}}
			{% if person.webpage %}</a> {% endif %}
		      </td>
		    </tr>
		    {% endfor %}

		    <tr>
		      <td nowrap="nowrap"><span class="px6">&nbsp;</span> </td>
		    </tr>

		    <tr>
		      <td nowrap="nowrap" valign="top" width="75"> <B>Alumni (MS)</B> </td>
		    </tr>
		    
		    {% for person in alumni-masters %}
		    <tr>
		      <td nowrap="nowrap"> 
			{% if person.webpage %}			
			<a href="{{person.webpage}}" class="sidebar-item">
			  {% endif %}
			{{person.name}}
			{% if person.webpage %}</a> {% endif %}
		      </td>
		    </tr>
		    {% endfor %}

		    <tr>
		      <td nowrap="nowrap"><span class="px6">&nbsp;</span> </td>
		    </tr>

		    <tr>
		      <td nowrap="nowrap" valign="top" width="75"> <B>Alumni (ugrad)</B> </td>
		    </tr>
		    
		    {% for person in alumni-ugrad %}
		    <tr>
		      <td nowrap="nowrap"> 
			{% if person.webpage %}			
			<a href="{{person.webpage}}" class="sidebar-item">
			  {% endif %}
			{{person.name}}
			{% if person.webpage %}</a> {% endif %}
		      </td>
		    </tr>
		    {% endfor %}

</tbody>
</table>
</td>
</tr>
</tbody>
</table>

</td>

<td valign="top" width="100%">

  <table>
    <tr><td colspan="3"> <B>CURRENT PROJECTS</B></td></tr>

    {% for project in current %}
    <tr>
      <td> <a href="{{project.webpage}}">{{project.name}}</a>
      </td>
      <td></td>
      <td>{{project.description}}</td>
    </tr>
    {% endfor %}

    <tr>
      <td>&nbsp;</td>
    </tr>
    

<tr>
  <td colspan="3"> <B>EVENTS</B> </td>
</tr>


  {% for event in events %}
  <tr>
     <td> <a href="{{event.url}}">{{event.name}}</a></td>
     <td></td>
     <td align="left">{{event.description}}</td>
   </tr>
  {% endfor %}

<tr>
  <td>&nbsp;</td>
</tr>

<tr>
  <td colspan="3"> <B>COURSES</B> </td>
</tr>

<tr>
  <td> CMSC 631 </td>
  <td>&nbsp;</td>
  <td align="left"> Program Analysis and Understanding
    (<a href="http://www.cs.umd.edu/class/spring2013/cmsc631/">Spring 2013</a>,
    <a href="http://www.cs.umd.edu/class/fall2011/cmsc631/">Fall 2011</a>,
    <a href="http://www.cs.umd.edu/class/fall2010/cmsc631/">Fall 2010</a>,
    <a href="http://www.cs.umd.edu/class/fall2009/cmsc631/">Fall 2009</a>,
    <a href="http://www.cs.umd.edu/class/spring2009/cmsc631/">Spring 2009</a>,
    <a href="http://www.cs.umd.edu/class/fall2007/cmsc631/">Fall 2007</a>,
    <a href="http://www.cs.umd.edu/class/fall2006/cmsc631/">Fall 2006</a>,
    <a href="http://www.cs.umd.edu/class/spring2006/cmsc631/">Spring 2006</a>,
    <a href="http://www.cs.umd.edu/class/fall2004/cmsc631/">Fall 2004</a>,
    <a href="http://www.cs.umd.edu/class/fall2003/cmsc631/"> Fall 2003</a>)
  </td>
</tr>


<tr>
  <td> <a href="http://www.cs.umd.edu/class/spring2011/cmsc838g"> CMSC 838G </a></td>
  <td>&nbsp;</td>
  <td align=left">Software Security (Spring 2011)</td></td>
		 </tr>

  <td> <a href="http://www.cs.umd.edu/class/spring2007/cmsc838f"> CMSC 838F </a> </td>
  <td>&nbsp;</td>
  <td align="left">Language-Based Techniques for Concurrent and Distributed Software (Spring 2007)</td>
      </tr>

      <tr>
	<td> <a href="http://www.cs.umd.edu/class/spring2008/cmsc838F"> CMSC 838F </a></td>
	<td>&nbsp;</td>
	<td align=left">Language-Based Security (Spring 2008)</td></td>
</tr>

<td> <a href="http://www.cs.umd.edu/class/spring2007/cmsc838f"> CMSC 838F </a> </td>
<td>&nbsp;</td>
<td align="left">Language-Based Techniques for Concurrent and Distributed Software (Spring 2007)</td>
</tr>

<tr>
  <td> <a href="http://www.cs.umd.edu/class/spring2005/cmsc838z"> CMSC 838Z </a> </td>
  <td>&nbsp;</td>
  <td align="left"> Language-Based Security (Spring 2005)</td>
</tr>

<tr>
  <td> <a href="http://www.cs.umd.edu/class/spring2004/cmsc838z"> CMSC 838Z </a> </td>
  <td>&nbsp;</td>
  <td align="left"> Tools and Techniques for Software Dependability (Spring 2004)</td>
</tr>

<tr>
  <td> <a href="http://www.cs.umd.edu/class/fall2003/cmsc838p"> CMSC 838P </a> </td>
  <td>&nbsp;</td>
  <td align="left"> Enterprise Applications (Fall 2003)</td>
</tr>

<tr>
  <td> <a href="http://www.cs.umd.edu/class/spring2003/cmsc838y"> CMSC 838Y </a> </td>
  <td>&nbsp;</td>
  <td align="left">Agile and Adaptive Programming Systems (Spring 2003)</td>
</tr>

<tr>
  <td>&nbsp;</td>
</tr>
<tr><td><B>PAST PROJECTS</B></td></tr>
    {% for project in past %}
    <tr>
      <td> <a href="{{project.webpage}}">{{project.name}}</a>
      </td>
      <td></td>
      <td>{{project.description}}</td>
    </tr>
    {% endfor %}


</table>

</td>
</tr>

</tbody>
</table>
</body>
</html>
